      <nav>
        <div class="container">
          <ul>
            <% @services.each do |s| %>
            <li>
              <a href="<%= @ar %><%= s[:path] %>" title="<%= s[:title] %>">
                <%= image_tag("images/services-service_icon-#{s[:icon_name]}.png", :alt=>s[:title]) %>
                <h3><%= s[:label] %></h3>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </nav><!-- End .Services -->
