<%- content_for :page_stylesheet do %>
<%= stylesheet_link_tag 'flatpages', :media => 'screen' %>
<% end %>

<section class="main flatpage privacy-policy">
  <%= render :partial => "header", :locals=>{:current_page=>"Privacy Policy"} %>
  <div class="content clear">
    <h2><%= t(:privacy_policy) %></h2>
    <p><%= t(:privacy_policy_p1) %></p>
    <h3><%= t(:privacy_policy_h3_1) %></h3>
    <h3><%= t(:privacy_policy_h3_2) %></h3>
    <p><%= t(:privacy_policy_p2) %></p>
    <h3><%= t(:privacy_policy_h3_3) %></h3>
    <p><%= t(:privacy_policy_p3) %></p>
    <p><%= t(:privacy_policy_p4) %></p>
    <h3><%= t(:privacy_policy_h3_4) %></h3>
    <p><%= t(:privacy_policy_p5) %></p>
    <p><%= t(:privacy_policy_p6) %></p>
    <h3><%= t(:privacy_policy_h3_5) %></h3>
    <p><%= t(:privacy_policy_p7) %></p>
    <h3><%= t(:privacy_policy_h3_6) %></h3>
    <p><%= t(:privacy_policy_p8) %></p>
  </div>
</section>