<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'flatpages', :media => 'screen' %>
<% end %>

<section class="main flatpage terms-and-conditions">
  <%= render :partial => "header", :locals=>{:current_page=>"Terms and Conditions"} %>
  <div class="content clear">
    <h2><%= t(:terms_and_conditions) %></h2>
    <h3><%= t(:terms_and_conditions_h3_1) %></h3>
    <p><%= t(:terms_and_conditions_p1) %></p>
    <p><%= t(:terms_and_conditions_p2) %></p>
    <h3><%= t(:terms_and_conditions_h3_2) %></h3>
    <p><%= t(:terms_and_conditions_p3) %></p>
    <p><%= t(:terms_and_conditions_p4) %></p>
    <p><%= t(:terms_and_conditions_p5) %></p>
    <p><%= t(:terms_and_conditions_p6) %></p>
    <p><%= t(:terms_and_conditions_p7) %></p>
    <p><%= t(:terms_and_conditions_p8) %></p>
    <p><%= t(:terms_and_conditions_p9) %></p>
    <p><%= t(:terms_and_conditions_p10) %></p>
    <p><%= t(:terms_and_conditions_p11) %></p>
    <p><%= t(:terms_and_conditions_p12) %></p>
    <h3><%= t(:terms_and_conditions_h3_3) %></h3>
    <p>
      <%= t(:terms_and_conditions_p13) %>
      <ul>
        <li><%= t(:terms_and_conditions_p13_a) %></li>
        <li><%= t(:terms_and_conditions_p13_b) %></li>
        <li><%= t(:terms_and_conditions_p13_c) %></li>
      </ul>
    </p>
    <p><%= t(:terms_and_conditions_p14) %></p>
    <p><%= t(:terms_and_conditions_p15) %></p>
    <p><%= t(:terms_and_conditions_p16) %></p>
    <p><%= t(:terms_and_conditions_p17) %></p>
    <p><%= t(:terms_and_conditions_p18) %></p>
    <h3><%= t(:terms_and_conditions_h3_4) %></h3>
    <p><%= t(:terms_and_conditions_p19) %></p>
    <p><%= t(:terms_and_conditions_p20) %></p>
    <h3><%= t(:terms_and_conditions_h3_5) %></h3>
    <p><%= t(:terms_and_conditions_p21) %></p>
    <h3><%= t(:terms_and_conditions_h3_6) %></h3>
    <p><%= t(:terms_and_conditions_p22) %></p>
    <p><%= t(:terms_and_conditions_p23) %></p>
    <p><%= t(:terms_and_conditions_p24) %></p>
    <p><%= t(:terms_and_conditions_p25) %></p>
    <p><%= t(:terms_and_conditions_p26) %></p>
    <p><%= t(:terms_and_conditions_p27) %></p>
    <h3><%= t(:terms_and_conditions_h3_7) %></h3>
    <p><%= t(:terms_and_conditions_p28) %></p>
    <p><%= t(:terms_and_conditions_p29) %></p>
    <p><%= t(:terms_and_conditions_p30) %></p>
    <p><%= t(:terms_and_conditions_p31) %></p>
    <h3><%= t(:terms_and_conditions_h3_8) %></h3>
    <p><%= t(:terms_and_conditions_p32) %></p>
    <p><%= t(:terms_and_conditions_p33) %></p>
    <p><%= t(:terms_and_conditions_p34) %></p>
    <p><%= t(:terms_and_conditions_p35) %></p>
    <h3><%= t(:terms_and_conditions_h3_9) %></h3>
    <p>
      <%= t(:terms_and_conditions_p36) %>
      <ul>
        <li><%= t(:terms_and_conditions_p36_a) %></li>
        <li><%= t(:terms_and_conditions_p36_b) %></li>
      </ul>
    </p>
    <p><%= t(:terms_and_conditions_p37) %></p>
    <h3><%= t(:terms_and_conditions_h3_10) %></h3>
    <p><%= t(:terms_and_conditions_p38) %></p>
    <p><%= t(:terms_and_conditions_p39) %></p>
    <p><%= t(:terms_and_conditions_p40) %></p>
    <p><%= t(:terms_and_conditions_p41) %></p>
    <h3><%= t(:terms_and_conditions_h3_11) %></h3>
    <p><%= t(:terms_and_conditions_p42) %></p>
    <h3><%= t(:terms_and_conditions_h3_12) %></h3>
    <p><%= t(:terms_and_conditions_p43) %></p>
    <h3><%= t(:terms_and_conditions_h3_13) %></h3>
    <p><%= t(:terms_and_conditions_p44) %></p>
    <h3><%= t(:terms_and_conditions_h3_14) %></h3>
    <p><%= t(:terms_and_conditions_p45) %></p>
    <h3><%= t(:terms_and_conditions_h3_15) %></h3>
    <p><%= t(:terms_and_conditions_p46) %></p>
  </div>
</section>
