<%- content_for :page_stylesheet do %>
<%= stylesheet_link_tag 'flatpages', :media => 'screen' %>
<% end %>

<section class="main flatpage">
  <%= render :partial => "header", :locals=>{:current_page=>"Terms and Conditions"} %>
  <div class="content clear">
    <h2><%= t(:terms_and_conditions) %></h2>
    <h3><%= t(:terms_and_conditions_h3_1) %></h3>
    <p><%= t(:terms_and_conditions_p1) %></p>
    <p><%= t(:terms_and_conditions_p2) %></p>
    <h3><%= t(:terms_and_conditions_h3_2) %></h3>
    <p><%= t(:terms_and_conditions_p3) %></p>
    <p><%= t(:terms_and_conditions_p4) %></p>
    <p><%= t(:terms_and_conditions_p5) %></p>
    <p><%= t(:terms_and_conditions_p6) %></p>
    <h3><%= t(:terms_and_conditions_h3_3) %></h3>
  </div>
</section>
