<nav class="subnav">
  <ul class="breadcrumb">
    <li><a href="<%= root_path(:locale=>I18n.locale) %>" title="<%= t(:home) %>"><%= t(:home) %></a></li>
	  <li><a href="<%= companies_path(:locale=>I18n.locale) %>" title="<%= t(:our_companies) %>"><%= t(:our_companies) %></a></li>
	  <li><a href="<%= company_path(object.company, :locale=>I18n.locale) %>" title="<%= object.company %>"><%= object.company.title %></a></li>
    <li><%= object.title %></li>
  </ul>
</nav>