<nav class="subnav">
  <ul class="breadcrumb">
    <li><a href="<%= root_path %>" title="<%= t(:home) %>"><%= t(:home) %></a></li>
    <li><%= t(:company) %></li>
  </ul>
</nav>

<div class="banner">
  <%= image_tag("company/banner_image.jpg", :alt=> t(:corporation_banner)) %>
</div>
