<aside class="sidebar">
  <div class="sections">
    <ul>
      <li class="active"> 
        <a href="<%= company_path(:locale=>I18n.locale) %>" alt="<%= t(:overview) %>">
          <%= t(:overview) %>
        </a>
      </li>
      <%- subsections.each do |subsection| %>
        <li class=""> 
          <a href="<%= company_subsection_path(subsection, :locale=>I18n.locale) %>" alt="<%= t(:overview) %>">
            <%= subsection.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="contact-info">
    <ul>
      <li>
        <span>telephone</span>
		    <span><%= @object.company.phone %></span>
      </li>
      <li>
        <span>fax</span>
		    <span><%= @object.company.fax %></span>
      </li>
      <li>
        <span>email</span>
		    <span><a href="<%= @object.company.email %>"><%= @object.company.email %></a></span>
      </li>
    </ul>
  </div>
</aside>