<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'companies', :media => 'screen' %>
<% end %>

<% content_for :extra_title do %>
  <%= @object.title %> : 
<% end %>

<section class="main company company-section">
  <%= render :partial => "header", :locals => {:object => @object} %>
  <div class="content clear"> 
    <%= render "sidebar", :subsections => @subsections, :locals => {:object => @object} %>
    <section class="overview">
      <div class="logo"><%= image_tag(@object.company.logo, :height=>38) %></div>
      <h2><%= @object.title %></h2>
      <section class="company-section-detail-wrapper">
        <%= render :partial => "subsection", :collection => @subsections %>
      </section>
    </section>
  </div>
</section>
