    <div id="carousel" class="banner">
        <ul class="slides">
            <!-- FIRST SLIDE -->
            <li class="intro blue">
                <div class="equal">
                    <h1><%= @slides[0][:text1] %></h1>
                    <h2><%= @slides[0][:text2] %></h2>
                    <div class="image">
                        <%= image_tag("images/home-slider-intro_logos.png", :alt =>"Facebook Google Twitter Yahoo") %>
                    </div>
                    <blockquote><%= @slides[0][:text3] %></blockquote>
                    <p class="quoted"><%= @slides[0][:text4] %> <span><%= @slides[0][:text5] %></span></p>
                </div>
            </li>

            <!-- SECOND SLIDE -->
            <li class="package orange">
                <div class="equal">
                    <h2><%= @slides[1][:text1] %></h2>
                    <h3><%= @slides[1][:text2] %></h3>
                    <div class="left list">
                        <h4><%= @slides[1][:text3] %></h4>
                        <ul class="tiers"><%= @slides[1][:text4] %></ul>
                    </div>
                    <div class="left cta">
                        <a href="<%= @ar %>/contact" title="<%= @slides[1][:text5] %>" class="button"><%= @slides[1][:text5] %></a>
                    </div>
                    <div class="right">
                        <%= image_tag("images/home-slider-package_souq.png", :alt =>"Small Business Package") %>
                    </div>
                </div>
            </li>

            <!-- THIRD SLIDE -->
            <li class="casestudy steel">
                <div class="equal">
                    <h2><%= @slides[2][:text1] %></h2>
                    <div class="left logo">
                        <div class="image">
                            <%= image_tag("images/home-slider-case_toms_logo.png", :alt =>"Toms") %>
                        </div>
                        <h3><%= @slides[2][:text2] %></h3>
                    </div>
                    <div class="left quote">
                        <blockquote><%= @slides[2][:text3] %></blockquote>
                        <p class="quoted"><%= @slides[2][:text4] %> <span><%= @slides[2][:text5] %></span></p>
                    </div>
                    <div class="right">
                        <%= image_tag("images/home-slider-case_toms_browser.png", :alt =>"Screenshot") %>
                    </div>
                </div>
            </li>

            <!-- FOURTH SLIDE -->
            <li class="casestudy black">
                <div class="equal">
                    <h2><%= @slides[3][:text1] %></h2>
                    <div class="left logo">
                        <div class="image">
                            <%= image_tag("images/home-slider-case_hp_logo.png", :alt =>"HP") %>
                        </div>
                        <h3><%= @slides[3][:text2] %></h3>
                    </div>
                    <div class="left quote">
                        <blockquote><%= @slides[3][:text3] %></blockquote>
                        <p class="quoted"><%= @slides[3][:text4] %> <span><%= @slides[3][:text5] %></span></p>
                    </div>
                    <div class="right">
                        <%= image_tag("images/home-slider-case_hp_browser.png", :alt =>"Screenshot") %>
                    </div>
                </div>
            </li>

            <!-- FIFTH SLIDE -->
            <li class="casestudy red">
                <div class="equal">
                    <h2><%= @slides[4][:text1] %></h2>
                    <div class="left logo">
                        <div class="image">
                            <%= image_tag("images/home-slider-case_vans_logo.png", :alt =>"Vans") %>
                        </div>
                        <h3><%= @slides[4][:text2] %></h3>
                    </div>
                    <div class="left quote">
                        <blockquote><%= @slides[4][:text3] %></blockquote>
                        <p class="quoted"><%= @slides[4][:text4] %> <span><%= @slides[4][:text5] %></span></p>
                    </div>
                    <div class="right">
                        <%= image_tag("images/home-slider-case_vans_browser.png", :alt =>"Screenshot") %>
                    </div>
                </div>
            </li>
        </ul><!-- End .@slides -->
    </div><!-- End .Slider -->
