<% content_for :page_javascript do %>
  <%= javascript_include_tag 'home' %>
<% end %>
<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'home', :media => 'screen' %>
<% end %>


<section class="main home">
  <div id="hero" class="flexslider">
    <h1>Building the Future</h1>
    <ul class="slides">
      <% @slides.each do |slide| %>
        <li>
          <%= image_tag(slide.image.full, :alt=>slide.title) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="content">
    <section id="companies" class="flexslider">
      <ul class="slides">
        <% @companies.each_slice(5) do |slice| %>
          <li>
            <% slice.each do |company| %>
              <a href="<%= company_path(company, :locale=>I18n.locale) %>" target="_blank">
                <%= image_tag(company.logo, :alt=>company.title) %>
              </a>
            <% end %>
          </li>
          <li>
            <% slice.each do |company| %>
              <a href="<%= company_path(company, :locale=>I18n.locale) %>" target="_blank">
                <%= image_tag(company.logo, :alt=>company.title) %>
              </a>
            <% end %>
          </li>
          
        <% end %>
      </ul>
      <ul class="flex-direction-nav">
        <li class="flex-prev">
          <a href="#">
            <%= image_tag("companies-arrow_left.svg", :alt=>"Previous") %>
          </a>
        </li>
        <li class="flex-next">
          <a href="#">
            <%= image_tag("companies-arrow_right.svg", :alt=>"Next") %>
          </a>
        </li>
      </ul>
    </section>
    <section class="home-cta-container clear">
      <a href="<%= corporation_index_path(:locale=>I18n.locale) %>">
        <%= image_tag("home/home-cta-1.jpg", :alt=>"Next") %>
        <h3>Mission + Vision</h3>
        <p><%= t(:mission_and_vision_cta) %></p>
        <span class="more">More</span>
      </a>
      <a href="<%= companies_path(:locale=>I18n.locale) %>">
        <%= image_tag("home/home-cta-2.jpg", :alt=>"Next") %>
        <h3>Our Companies</h3>
        <p><%= t(:our_companies_cta) %></p>
        <span class="more">More</span>
      </a>
      <a href="<%= corporate_partners_corporation_index_path %>">
        <%= image_tag("home/home-cta-3.jpg", :alt=>"Next") %>
        <h3>Partners</h3>
        <p><%= t(:partners_cta) %></p>
        <span class="more">More</span>
      </a>
      <a href="<%= contact_path(:locale=>I18n.locale) %>">
        <%= image_tag("home/home-cta-4.jpg", :alt=>"Next") %>
        <h3>Offices</h3>
        <p><%= t(:offices_cta) %></p>
        <span class="more">More</span>
      </a>
    </section>
  </div><!-- End .Content -->
</section><!-- End .Home -->