<% content_for :page_javascript do %>
  <%= javascript_include_tag 'home' %>
<% end %>
<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'home', :media => 'screen' %>
<% end %>


<section class="main home">
  <div id="hero" class="flexslider">
    <h1><%= t(:building_the_future) %></h1>
    <ul class="slides">
      <% @slides.each do |slide| %>
        <li>
          <%= image_tag(slide.image.full, :alt=>slide.title) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="content">
    <section id="companies" class="flexslider">
      <ul class="slides">
        <% @companies.each do |company| %>
          <li>
            <a href="<%= company_path(company, :locale=>I18n.locale) %>" target="_blank">
              <%= image_tag(company.logo, :alt=>company.title) %>
            </a>
          </li>
        <% end %>
      </ul>
      <ul class="flex-direction-nav">
        <li class="flex-prev">
          <a href="#">
            <%= image_tag("companies-arrow_left.svg", :alt=>"Previous") %>
          </a>
        </li>
        <li class="flex-next">
          <a href="#">
            <%= image_tag("companies-arrow_right.svg", :alt=>"Next") %>
          </a>
        </li>
      </ul>
    </section>
    <section class="home-cta-container clear">
      <a href="<%= settings_value("CTA1 URL") %>">
        <%= image_tag(settings_value("CTA1 Image"), :alt=>"Next") %>
        <h3><%= settings_value("CTA1 Title") %></h3>
        <p><%= settings_value("CTA1 Description") %></p>
        <span class="more"><%= t(:more) %></span>
      </a>
      <a href="<%= settings_value("CTA2 URL") %>">
        <%= image_tag(settings_value("CTA2 Image"), :alt=>"Next") %>
        <h3><%= settings_value("CTA2 Title") %></h3>
        <p><%= settings_value("CTA2 Description") %></p>
        <span class="more"><%= t(:more) %></span>
      </a>
      <a href="<%= settings_value("CTA3 URL") %>">
        <%= image_tag(settings_value("CTA3 Image"), :alt=>"Next") %>
        <h3><%= settings_value("CTA3 Title") %></h3>
        <p><%= settings_value("CTA3 Description") %></p>
        <span class="more"><%= t(:more) %></span>
      </a>
      <a href="<%= settings_value("CTA4 URL") %>">
        <%= image_tag(settings_value("CTA4 Image"), :alt=>"Next") %>
        <h3><%= settings_value("CTA4 Title") %></h3>
        <p><%= settings_value("CTA4 Description") %></p>
        <span class="more"><%= t(:more) %></span>
      </a>
    </section>
  </div><!-- End .Content -->
</section><!-- End .Home -->