<aside class="sidebar">
  <div class="sections">
    <ul>
      <li class="active"> 
        <a href="<%= company_path(:locale=>I18n.locale) %>" alt="<%= t(:overview) %>">
          <%= t(:overview) %>
        </a>
      </li>
      <%- sections.each do |section| %>
        <li class=""> 
          <a href="<%= company_section_path(section, :locale=>I18n.locale) %>" alt="<%= t(:overview) %>">
            <%= section.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="contact-info">
    <ul>
      <li>
        <span><%= t(:telephone) %></span>
		    <span><%= @object.phone %></span>
      </li>
      <li>
        <span><%= t(:fax) %></span>
		    <span><%= @object.fax %></span>
      </li>
      <li>
        <span><%= t(:email) %></span>
		    <span><a href="<%= @object.email %>"><%= @object.email %></a></span>
      </li>
    </ul>
  </div>
</aside>
