<aside class="sidebar">
  <div class="sections">
    <ul>
      <li class="active"> 
        <a href="<%= company_path(:locale=>I18n.locale) %>" alt="<%= t(:overview) %>">
          <%= t(:overview) %>
        </a>
      </li>
      <% sections.each do |section| %>
        <li class=""> 
          <a href="<%= company_section_path(section, :locale=>I18n.locale) %>" alt="<%= t(:overview) %>">
            <%= section.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>



  <div class="contact-info">
    <ul>
      <li>
        <% if @object.contact_title %>
		      <span class="contact-title"><%= @object.contact_title %></span>
        <% end %>
<<<<<<< HEAD
=======
      </li>
      <li>
        <span><%= t(:address) %></span>
		    <span><%= @object.address %></span>
>>>>>>> b911ed753db310fda4b189b16a58e3d414c630aa
      </li>
      <li>
        <span><%= t(:telephone) %></span>
		    <span><%= @object.phone %></span>
      </li>
      <li>
        <span><%= t(:fax) %></span>
		    <span><%= @object.fax %></span>
      </li>
      <li>
        <span><%= t(:email) %></span>
		    <span><a href="mailto:<%= @object.email %>"><%= @object.email %></a></span>
      </li>

      <% if !@object.brochure.path.nil? %>
      <li>
        <span><%= t(:brochure) %></span>
		    <span><a href="<%= @object.brochure %>"><%= t(:download) %></a></span>
      </li>
      <% end %>
    </ul>
  </div>



  <% if @object.contact_title2 %>
    <div class="contact-info">
      <ul>
        <li>
  		    <span class="contact-title"><%= @object.contact_title2 %></span>
        </li>
        <li>
          <span><%= t(:address) %></span>
  		    <span><%= @object.address2 %></span>
        </li>
        <li>
          <span><%= t(:telephone) %></span>
  		    <span><%= @object.phone2 %></span>
        </li>
        <li>
          <span><%= t(:fax) %></span>
  		    <span><%= @object.fax2 %></span>
        </li>
        <li>
          <span><%= t(:email) %></span>
  		    <span><a href="mailto:<%= @object.email2 %>"><%= @object.email2 %></a></span>
        </li>
      </ul>
    </div>
  <% end %>



  <% if @object.contact_title3 %>
    <div class="contact-info">
      <ul>
        <li>
  		    <span class="contact-title"><%= @object.contact_title3 %></span>
        </li>
        <li>
          <span><%= t(:address) %></span>
  		    <span><%= @object.address3 %></span>
        </li>
        <li>
          <span><%= t(:telephone) %></span>
  		    <span><%= @object.phone3 %></span>
        </li>
        <li>
          <span><%= t(:fax) %></span>
  		    <span><%= @object.fax3 %></span>
        </li>
        <li>
          <span><%= t(:email) %></span>
  		    <span><a href="mailto:<%= @object.email3 %>"><%= @object.email3 %></a></span>
        </li>
      </ul>
    </div>
  <% end %>
</aside>
