<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'companies', :media => 'screen' %>
<% end %>

<% content_for :extra_title do %>
  <%= t(:our_companies) %> :
<% end %>

<section class="main companies">
  <%= render :partial => "header" %>
  <div class="content clear">
    <h2><%= t(:our_companies) %></h2>
    <h3><%= t(:our_companies_text) %></h3>
    <section class="companies-wrapper">
      <%= render :partial => 'object', :collection => @objects %>
    </section>
  </div>
</section>
