<nav class="subnav">
  <ul class="breadcrumb">
    <li><a href="<%= root_path %>" title="<%= t(:home) %>"><%= t(:home) %></a></li>
    <li><a href="<%= portfolio_index_path %>" title="<%= t(:home) %>"><%= t(:portfolio) %></a></li>
    <li><%= t(:tech_group_operations_header) %></li>
  </ul>
</nav>

<div class="banner">
  <%= image_tag("portfolio/banner_image.jpg", :alt=> t(:portfolio_banner)) %>
</div>
