<section class="project">
  <h4><%= object.title %></h4>
  <ul>
    <li>
      <b>Client</b><%= object.client %>
    </li>
    <li>
      <b>Consultant</b><%= object.consultant %>
    </li>
    <li>
      <b>Main Contractor</b><%= object.main_contractors %>
    </li>
    <li>
      <b>Sub Contractors</b><%= object.subcontractors %>
    </li>
    <li>
      <b>Project Worth</b><%= object.project_worth %>
    </li>
    <li>
      <b>Location</b><%= object.location %>
    </li>
  </ul>
</section>