<section class="project">
  <h3><%= project.title %></h3>
  <ul>
    <li>
      <b>Client: </b><%= project.client %>
    </li>
    <li>
      <b>Consultant: </b><%= project.consultant %>
    </li>
    <li>
      <b>Main Contractor: </b><%= project.main_contractor %>
    </li>
    <li>
      <b>Sub Contractors: </b><%= project.sub_contractors %>
    </li>
    <li>
      <b>Project Worth: </b><%= project.project_worth %>
    </li>
    <li>
      <b>Location: </b><%= project.location %>
    </li>
  </ul>
</section>