<section class="project">
  <div class="image">
    <img src="<%= project.image.thumbnail %>" alt="<%= project.title %>">
  </div>
  <h3><%= project.title.titlecase %></h3>
  <ul>
    <li>
      <b>Client: </b><%= project.client.titlecase %>
    </li>
    <li>
      <b>Consultant: </b><%= project.consultant.titlecase %>
    </li>
    <li>
      <b>Main Contractor: </b><%= project.main_contractor %>
    </li>
    <li>
      <b>Sub Contractors: </b><%= project.sub_contractors %>
    </li>
    <li>
      <b>Project Worth: </b><%= project.project_worth %>
    </li>
    <li>
      <b>Location: </b><%= project.location %>
    </li>
  </ul>
</section>