<aside class="sidebar">
  <div class="categories">
    <ul>
      <li class="<%= "active" if active_page =="overview" %>"> 
        <a href="<%= portfolio_index_path(:locale=>I18n.locale) %>" alt="<%= t(:overview) %>">
          <%= t(:overview) %>
        </a>
      </li>
      <li class="<%= "active" if active_page =="projects" %>">
        <a href="<%= projects_portfolio_index_path(:locale=>I18n.locale) %>" alt="<%= t(:tech_group_projects_header) %>">
          <%= t(:tech_group_projects_header) %>
        </a>
      </li>
      <li class="<%= "active" if active_page =="operations" %>">
        <a href="<%= operations_portfolio_index_path(:locale=>I18n.locale) %>" alt="<%= t(:tech_group_operations_header) %>">
          <%= t(:tech_group_operations_header) %>
        </a>
      </li>
    </ul>
  </div>
</aside>
