<aside class="sidebar">
  <div class="categories">
    <ul>
      <li class="active"> 
        <a href="<%= corporation_index_path %>" alt="<%= t(:overview) %>">
          <%= t(:overview) %>
        </a>
      </li>
      <li>
        <a href="<%= projects_portfolio_index_path %>" alt="<%= t(:tech_group_projects_header) %>">
          <%= t(:tech_group_projects_header) %>
        </a>
      </li>
      <li>
        <a href="<%= operations_portfolio_index_path %>" alt="<%= t(:tech_group_operations_header) %>">
          <%= t(:tech_group_operations_header) %>
        </a>
      </li>
    </ul>
  </div>
</aside>
