<article>
  <h4><%= object.title %></h4>
  <div class="media-object-wrapper clear">
    <div class="date"><%= object.created_at.strftime("%B %d, %Y") %></div>
    <div class="body">
      <div class="image">
        <%= image_tag("sample-media_post-image.jpg", :alt=>"Sample Image") %>
        <p class="caption"><%= object.image_caption %></p>
      </div>
      <p>
        <%= object.description.gsub(/\n/, '<br/>').html_safe %>
      </p>
      <p>
        <% if object.read_more_title1 %>
          READ MORE:
          <a href="<%= object.read_more_link1 %>" title="<%= object.read_more_title1 %>"><%= object.read_more_title1 %></a> 
        <% end %>
        <% if object.read_more_title2 %>
          | <a href="<%= object.read_more_link2 %>" title="<%= object.read_more_title2 %>">%= object.read_more_title2 %></a>
        <% end %>
        <% if object.read_more_title3 %>
          | <a href="<%= object.read_more_link3 %>" title="<%= object.read_more_title3 %>">%= object.read_more_title3 %></a>
        <% end %>
      </p>
    </div>
  </div>
  <div class="meta clear">
    <div class="tags">
      <span><%= t(:posted_under) %>:</span>
      <ul>
        <li>
          <a href="<%= category_media_path(object.media_category, :locale=>I18n.locale) %>" alt="<%= t(:view_more_posts) %>">
            <%= object.media_category.title %>
          </a>
        </li>
      </ul>
    </div>
    <!--
    <div class="other-media">
      <ul>
        <li><a href="#">pdf</a></li>
        <li><a href="#">print</a></li>
        <li><a href="#">email</a></li>
      </ul>
    </div>
    -->
  </div>
</article>
