<aside class="sidebar">
  <div class="categories">
    <ul>
      <li class="<%= "active" if active_page =="overview" %>"><a href="<%= media_path(:locale=>I18n.locale) %>" alt="View More Posts"><%= t(:all) %></a></li>
      <% @media_categories.each do |cat| %>
        <li class="<%= "active" if active_page == cat.title %>">
          <a href="<%= category_media_path(cat, :locale=>I18n.locale) %>" alt="<%= t(:view_more_posts) %>">
            <%= cat.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="search-wrapper">
    <form method="GET" action="<%= search_media_path(:locale=>I18n.locale) %>">
      <fieldset>
        <input type="text" name="q" value="" id="search" placeholder="<%= t(:search_media) %>" />
        <input type="image" src="<%= image_path('sidebar-search_submit.svg')%>" />
      </fieldset>
    </form>
  </div>
</aside>