<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'companies', :media => 'screen' %>
<% end %>

<% content_for :extra_title do %>
  <%= @object.title %> : 
<% end %>

<section class="main company company-section">
  <%= render :partial => "header", :locals => {:object => @object, :company => @company} %>

  <div class="content clear"> 
    <%= render :partial => "shared/company_sidebar", :locals => { :company => @company, :sections => @sections } %>

    <section class="overview">
      <div class="logo"><%= image_tag(@company.logo, :height=>38) %></div>
      <h2><%= @object.title %></h2>

      <section class="company-section-detail-wrapper">
        <%= render :partial => "item", :collection => @items %>
      </section>
    </section>

  </div>
</section>
