<h3 class="mid-divide" role="title">
  <span class="white-bg"><%= t(:contact_us) %></span>
</h3>
<form method="post" action="/submit" id="contact_form">
  <fieldset>
    <label><%= t(:name) %>
      <input type="text" required name="name" />
    </label>
    <label><%= t(:telephone) %>
      <input type="text" required name="telephone" />
    </label>
    <label><%= t(:email_address) %>
      <input type="email" required name="email" />
    </label>
    <select required name="subject">
      <option disabled="disabled"><%= t(:choose_subject) %></option>
    </select>
    <label><%= t(:your_message) %>
      <textarea name="message" required></textarea>
    </label>
    <input type="submit" value="<%= t(:submit_form) %>" class="button" />
  </fieldset>
</form>