<h2><%= t(:our_offices) %></h2>
  <section class="contact-wrapper">
   <div class="form">
    <h4 role="title"><%= t(:contact_us).titlecase %></h4>
    <form method="post" action="<%= submit_path %>" id="contact_form">
      <fieldset>
          <input type="text" required name="name" placeholder="<%= t(:name).titlecase %>" />
          <input type="tel" required name="telephone" placeholder="<%= t(:telephone).titlecase %>" />
          <input type="email" required name="email" placeholder="<%= t(:email).titlecase %>" />
        <select required name="subject">
          <option disabled="disabled"><%= t(:choose_subject).titlecase %> </option>
        </select>
        <textarea name="message" class="required" required placeholder="<%= t(:message).titlecase %>"></textarea>
        <input type="submit" value="<%= t(:submit_form).titlecase %>" class="button" />
      </fieldset>
    </form>
    <div class="thank-you">
      <h3><%= t(:contact_thank_you_header)%></h3>
      <p><%= t(:contact_thank_you_text)%></p>
    </div>
  </div>
  <div class="addresses">
    <div>
      <h5><%= t(:ajman_uae) %><small><%= t(:tech_group) %></small></h5>
      <ul>
        <li><%= t(:al_rumalia_corniche_road) %><b><%= t(:address).titlecase %></b></li>
        <li>+9716 747 5552 <b><%= t(:telephone).titlecase %></b></li>
        <li>+9716 747 5553 <b><%= t(:fax).titlecase %></b></li>
        <li>
          <a href="mailto:info@techgroup.ae" title="<%= t(:email) %>">
            info@techgroup.ae
          </a>
          <b><%= t(:email).titlecase %></b> 
        </li>
      </ul>
    </div>
    <div>
      <h5><%= t(:khartoum_sudan) %><small><%= t(:tech_group) %></small></h5>
      <ul>
        <li><%= t(:al_ryad_makkah_hospital_street) %><b><%= t(:address).titlecase %></b></li>
        <li>+244 991 232 7909 <b><%= t(:fax).titlecase %></b></li>
        <li> 
          <a href="mailto:e.siraj@pilingtech.ae" title="<%= t(:email) %>">
            e.siraj@pilingtech.ae
          </a>
          <b><%= t(:email).titlecase %></b>
        </li>
      </ul>
    </div>
    <div>
      <h5><%= t(:baghdad_iraq) %><small><%= t(:tech_group) %></small></h5>
      <ul>
        <li><%= t(:al_jadria_baghdad) %> <b><%= t(:address).titlecase %></b></li>
        <li>+964 7700014444 <b><%= t(:telephone).titlecase %></b></li>
        <li>+964 7800014444 <b><%= t(:fax).titlecase %></b></li>
        <li> 
          <a href="mailto:a.khalik@techgroup.ae" title="<%= t(:email) %>">
            a.khalik@techgroup.ae
          </a>
          <b><%= t(:email).titlecase %></b>
        </li>
      </ul>
    </div>
    <div>
      <h5><%= t(:saudi_abha) %><small><%= t(:tech_group) %></small></h5>
      <ul>
        <li><%= t(:abha_khamis_mushayt) %><b><%= t(:address).titlecase %></b></li>
        <li>+966554492477 <b><%= t(:telephone).titlecase %></b></li>
        <li>
          <a href="mailto:k.mohamed@remixtech.ae" title="<%= t(:email) %>">
            k.mohamed@remixtech.ae
          </a>
          <b><%= t(:email).titlecase %></b> 
        </li>
      </ul>
    </div>
  </div>
</section>