<section class="main contact">
  <%= render :partial => "header" %>
  <div class="content clear">
    <h2><%= t(:our_offices) %></h2>
    <h3><%= t(:our_offices_text) %></h3>
    <section class="contact-wrapper">
      <div class="addresses">
        <div class="form">
          <%= render "form" %>
        </div>
        <section>
          <div>
            <h5><small><%= t(:tech_group_pjsc) %></small> <%= t(:ajman_uae) %></h5>
            <ul>
              <li><b>Address</b> Al Rumaila, Corniche Road, Ajman, UAE</li>
              <li><b>Telephone</b> +9716 747 5552</li>
              <li><b>Fax</b> +9716 747 5553</li>
              <li><b>Email</b> <a href="" title="Email Us">info@techgroup.ae</a></li>
            </ul>
          </div>
        </section>
      </div>
    </section>
  </div><!-- End .Content -->
</section><!-- End .Home -->