<section class="contact">
  <div class="banner">
    <img src=""/>
    <h1><%= t(:our_offices) %></h1>
    <p><%= t(:our_offices_text) %></p>
  </div><!-- End .Slider -->
  <div class="content">
    <div class="addresses">
      <section>
        <h3>
          <%= t(:tech_group_pjsc) %>
          <%= t(:ajman_uae) %>
        <h3>
        <div class="info-container">
          <div class="info">
            <span class="bold"><%= t(:address) %></span>
            <p>Al Rumaila, Corniche Road, Ajman, UAE</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:telephone) %></span>
            <p>+9716 747 5552</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:fax) %></span>
            <p>+9716 747 5553</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:email) %></span>
            <p>info@techgroup.com</p>
          </div>
        </div>
      </section>
      <section>
        <h3>
          <%= t(:tech_group_pjsc) %>
          <%= t(:ajman_uae) %>
        <h3>
        <div class="info-container">
          <div class="info">
            <span class="bold"><%= t(:address) %></span>
            <p>Al Rumaila, Corniche Road, Ajman, UAE</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:telephone) %></span>
            <p>+9716 747 5552</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:fax) %></span>
            <p>+9716 747 5553</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:email) %></span>
            <p>info@techgroup.com</p>
          </div>
        </div>
      </section>
      <section>
        <h3>
          <%= t(:tech_group_pjsc) %>
          <%= t(:ajman_uae) %>
        <h3>
        <div class="info-container">
          <div class="info">
            <span class="bold"><%= t(:address) %></span>
            <p>Al Rumaila, Corniche Road, Ajman, UAE</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:telephone) %></span>
            <p>+9716 747 5552</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:fax) %></span>
            <p>+9716 747 5553</p>
          </div>
          <div class="info">
            <span class="bold"><%= t(:email) %></span>
            <p>info@techgroup.com</p>
          </div>
        </div>
      </section>
    </div>
    <div class="form">
      <%= render "form" %>
    </div>
  </div><!-- End .Content -->
</section><!-- End .Home -->