<aside class="sidebar">
  <div class="categories">
    <ul>
      <li class="active"> 
        <a href="<%= corporation_index_path %>" alt="<%= t(:overview) %>">
          <%= t(:overview) %>
        </a>
      </li>
      <li>
        <a href="<%= board_of_directors_corporation_index_path %>" alt="<%= t(:board_of_directors) %>">
          <%= t(:board_of_directors) %>
        </a>
      </li>
      <li>
        <a href="<%= ceo_message_corporation_index_path %>" alt="<%= t(:ceo_message) %>">
          <%= t(:ceo_message) %>
        </a>
      </li>
      <li>
        <a href="<%= clients_corporation_index_path %>" alt="<%= t(:clients) %>">
          <%= t(:clients) %>
        </a>
      </li>
      <li>
        <a href="<%= corporate_partners_corporation_index_path %>" alt="<%= t(:corporate_partners) %>">
          <%= t(:corporate_partners) %>
        </a>
      </li>
    </ul>
  </div>
</aside>
