<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="main corporation board-of-directors">
  <%= render :partial => "header" %>
  <div class="content clear"> 
    <%= render "sidebar" %>
    <section class="overview">
      <h2><%= t(:board_of_directors) %></h2>
      <h3><%= t(:board_of_directors_text) %></h3>
      <ul id="directors-wrapper">
        <%= render :partial => "director", :collection => @objects %>
      </ul>
    </section>
  </div>
</section>
