<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'companies', :media => 'screen' %>
<% end %>

<section class="main company company-subsection">
  <%= render :partial => "header", :locals => {:object => @object} %>
  <div class="content clear"> 
    <%= render "sidebar", :subsections => @subsections, :locals => {:object => @object} %>
    <section class="overview">
      <div class="logo"><%= image_tag(@object.company_section.company.logo, :height=>38) %></div>
      <h2><%= @object.title %></h2>
      <ul class="company-subsection-item-wrapper">
        <%= render :partial => "item", :collection => @items %>
      </ul>
    </section>
  </div>
</section>
