<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="main corporation board-of-directors">
  <%= render :partial => "header", :locals=>{:header_image=>"corporation-board_of_directors.jpg"}  %>
  <div class="content clear"> 
    <%= render "sidebar", :active_page=>"board_of_directors" %>
    <section class="overview">
      <h2><%= t(:board_of_directors) %></h2>
      <ul id="directors-wrapper">
        <%= render :partial => "director", :collection => @objects %>
      </ul>
    </section>
  </div>
</section>
