<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="main corporation ceo-message">
  <%= render :partial => "header", :locals=>{:header_image=>"corporation-ceo_message.jpg"}  %>
  <div class="content clear"> 
    <%= render "sidebar", :active_page=>"ceo_message" %>
    <section class="overview">
      <div id="ceo-message">
        <h2><%= t(:ceo_message) %></h2>
        <div class="text">
          <div class="image">
            <%= image_tag("corporation/ceo_image.jpg", :alt=> t(:ceo_image)) %>
          </div>
          <h3><%= t(:ceo_name) %></h3>
          <h4><%= t(:ceo_title) %></h4>
          <p><%= @settings.ceo_message.gsub(/\n/, '<br/>').html_safe %></p>
        </div>
      </div>
    </section>
  </div>
</section>
