<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="main corporation ceo-message">
  <%= render :partial => "header"  %>
  <div class="content clear"> 
    <%= render "sidebar", :active_page=>"ceo_message" %>
    <section class="overview">
      <h2><%= t(:ceo_message) %></h2>
      <h3><%= t(:ceo_name) %></h3>
      <h3><%= t(:ceo_title) %></h3>
      <p><%= t(:ceo_message_p1) %></p>
      <p><%= t(:ceo_message_p2) %></p>
      <p><%= t(:ceo_message_p3) %></p>
      <p><%= t(:ceo_message_p4) %></p>
      <p><%= t(:ceo_message_p5) %></p>
      <p><%= t(:ceo_message_p6) %></p>
    </section>
  </div>
</section>
