<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="main corporation clients">
  <%= render :partial => "header", :locals=>{:header_image=>"corporation-clients.jpg"} %>
  <div class="content clear"> 
    <%= render "sidebar", :active_page=>"clients" %>
    <section class="overview">
      <h2><%= t(:clients) %></h2>
      <ul id="client-wrapper">
        <%= render :partial => "client", :collection => @objects %>
      </ul>
    </section>
  </div>
</section>
