<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="main corporation corporate-partners">
  <%= render :partial => "header" %>
  <div class="content clear"> 
    <%= render "sidebar", :active_page=>"corporate_partners"  %>
    <section class="overview">
      <h2><%= t(:corporate_partners) %></h2>
      <h3><%= t(:corporate_partners_h3) %></h3>
      <p><%= t(:corporate_partners_p1) %></p>
      <p><%= t(:corporate_partners_p2) %></p>
      <h4><%= t(:corporate_partners_h4) %></h4>
      <p><%= t(:corporate_partners_p3) %></p>
      <p><%= t(:corporate_partners_p4) %></p>
    </section>
  </div>
</section>