<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="main corporation corporate-partners">
  <%= render :partial => "header" %>
  <div class="content clear"> 
    <%= render "sidebar", :active_page=>"corporate_partners"  %>
    <section class="overview">
      <h2><%= t(:corporate_partners) %></h2>
      <div class="image">
        <%= image_tag("corporation/r-holding.jpg", :alt=> t(:corporate_partners)) %>
      </div>
      <div class="text">
        <h3><%= t(:corporate_partners_h3) %></h3>
        <p><%= t(:corporate_partners_p1) %></p>
        <p><%= t(:corporate_partners_p2) %></p>
      </div>
      <p><%= t(:corporate_partners_p3) %></p>
    </section>
  </div>
</section>