<%- content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'corporation', :media => 'screen' %>
<% end %>

<section class="corporation main">
  <%= render :partial => "header" %>
  <div class="content clear">
    <%= render "sidebar", :active_page=>"overview"  %>
    <section class="overview">
      <h2><%= t(:overview) %></h2>
      <div id="proverb"><%= t(:tall_oaks) %></div>
      <p class="opening-text">
        Compellingly promote enabled opportunities with plug-and-play relationships. Rapidiously envisioneer one-to-one potentialities vis-a-vis professional mindshare. Dramatically myocardinate state of the art information via leading-edge ROI. 
      </p>
      <p class="opening-text">
        Intrinsicly productivate visionary markets with granular technologies. Completely negotiate front-end customer service before parallel vortals. Rapidiously strategize intuitive relationships before tactical products. 
      </p>
      <p>
      Rapidiously evolve transparent partnerships vis-a-vis high-payoff portals. Holisticly network reliable products through client-based models. Holisticly innovate client-centric leadership skills via flexible functionalities.
      </p>
      <p>
      Rapidiously evolve transparent partnerships vis-a-vis high-payoff portals. Holisticly network reliable products through client-based models. Holisticly innovate client-centric leadership skills via flexible functionalities.
      </p>
      <section class="missions clear">
        <section class="mission">
          <h3>Our Vision</h3>
          <p>Energistically scale collaborative solutions whereas client-centered outsourcing. Enthusiastically optimize strategic customer service without cost effective sources. Completely implement long-term high-impact infomediaries through interdependent relationships.</p>
        </section>
        <section class="mission">
          <h3>Our Mission</h3>
          <p>Energistically scale collaborative solutions whereas client-centered outsourcing. Enthusiastically optimize strategic customer service without cost effective sources. Completely implement long-term high-impact infomediaries through interdependent relationships.</p>
        </section>
      </section>
    </section>
    <section id="history-wrapper">
      <h3>Our History</h3>
      <section class="history-objects clear">
        <%= render :partial => 'history_object', 
          :collection => @objects, 
          :locals => {:history_object_count=>@objects.count-1} 
        %>
      </section>
    </section>
  </div>
</section>