<footer role="footer">
  <section class="footer-cta clear">
    <a href="https://vimeo.com/44833230" class="corporate-video-cta fancybox-media">
      <%= image_tag("footer_icon-corporate_video.svg", :alt=>"View") %>
      <%= t(:tech_group_corporate_video) %>
    </a>
    <a href="http://techgroup-media.s3.amazonaws.com/main-company-pdf/techgroup.pdf" class="business-brochure-cta">
      <%= image_tag("footer_icon-business_brochure.svg", :alt=>"View") %>
      <%= t(:tech_group_business_brochure) %>
    </a>
    <a href="<%= contact_path(:locale=>I18n.locale) %>" class="contact-cta">
      <%= image_tag("footer_icon-contact.svg", :alt=>"View") %>
      <%= t(:contact_tech_group_today) %>
    </a>
  </section>
  <div class="container clear">
    <a href="<%= change_locale_path(:locale=>I18n.locale) %>" title="<%= t(:switch_language) %>" class="switcher">
      <%= t(:switch_language) %>
    </a>
    <ul class="footer-nav">
      <li class="careers">
        <a href="<%= category_media_path(:category=>"careers", :locale=>I18n.locale) %>" title="<%= t(:careers) %>" <% if @location == "careers" %>class="current"<% end %>>
          <%= t(:careers) %>
        </a>
      </li>
      <li class="terms_and_conditions">
        <a href="<%= terms_and_conditions_path(:locale=>I18n.locale) %>" title="<%= t(:terms_and_conditions) %>" <% if @location == "terms_and_conditions" %>class="current"<% end %>>
          <%= t(:terms_and_conditions) %>
        </a>
      </li>
      <li class="privacy_policy">
        <a href="<%= privacy_policy_path(:locale=>I18n.locale) %>" title="<%= t(:privacy_policy) %>"
           <% if @location == "privacy_policy" %>class="current"<% end %>>
          <%= t(:privacy_policy) %>
        </a>
      </li>
      <li class="feedback">
        <a href="<%= contact_path(:locale=>I18n.locale) %>" title="<%= t(:feedback) %>" <% if @location == "feedback" %>class="current"<% end %>>
          <%= t(:feedback) %>
        </a>
      </li>
    </ul>
    <p class="copyright"><%= DateTime.current().strftime("%Y") %> <%= t(:tech_group_all_rights_reserved) %></p>
  </div>
</footer>