<footer role="footer">
    <div class="container">
      <p>&copy; #{ DateTime.current().strftime("%Y") } Tech Group </p>
      <ul class="footer-nav">
        <li class="careers">
          <a href="<%= @ar %>/careers"    title="<%= t(:careers) %>"
             <% if @location == "careers" %>class="current"<% end %>><%= t(:careers) %></a>
        </li>
        <li class="terms_and_conditions">
          <a href="<%= @ar %>/terms_and_conditions" title="<%= t(:terms_and_conditions) %>"
             <% if @location == "terms_and_conditions" %>class="current"<% end %>><%= t(:terms_and_conditions) %></a>
        </li>
        <li class="privacy_policy">
          <a href="<%= @ar %>/privacy_policy" title="<%= t(:privacy_policy) %>"
             <% if @location == "privacy_policy" %>class="current"<% end %>><%= t(:privacy_policy) %></a>
        </li>
        <li class="feedback">
          <a href="<%= @ar %>/feedback"  title="<%= t(:feedback) %>"
             <% if @location == "feedback" %>class="current"<% end %>><%= t(:feedback) %></a>
        </li>
        <li class="switcher">
          <% if @arabic %>
              <a href="<%= @path %>" title="Change Language" class="right">English</a>
          <% else %>
              <a href="/ar<%= @path %>" title="العربية" class="right">العربية</a>
          <% end %>
        </li>
      </ul>
    </div>
</footer>
