<header role="header">
  <div class="container">
    <nav role="navigation">
      <a href="<%= @ar %>/" title="<%= t(:return_home) %>" class="logo">
        <%= image_tag("images/logo.png", :alt=>"Levant Digital") %>
      </a>
      <ul>
        <li class="corporation">
          <a href="<%= @ar %>/corporation" title="<%= t(:corporation) %>" 
           <% if @location == "corporation" %>class="current"<% end %>>
             <%= t(:corporation) %>
          </a>
        </li>
        <li class="our_companies">
          <a href="<%= @ar %>/our_companies" title="<%= t(:our_companies) %>"
             <% if @location == "our_companies" %>class="current"<% end %>><%= t(:our_companies) %></a>
        </li>
        <li class="portfolio">
          <a href="<%= @ar %>/portfolio" title="<%= t(:portfolio) %>"
             <% if @location == "portfolio" %>class="current"<% end %>><%= t(:portfolio) %></a>
        </li>
        <li class="media">
          <a href="<%= @ar %>/media" title="<%= t(:media) %>"
             <% if @location == "media" %>class="current"<% end %>><%= t(:media) %></a>
        </li>
        <li class="contact">
          <a href="<%= @ar %>/contact" title="<%= t(:contact) %>"
             <% if @location == "contact" %>class="current"<% end %>><%= t(:contact) %></a>
        </li>
        <li class="switcher">
          <% if @arabic %>
              <a href="<%= @path %>" title="Change Language" class="right">English</a>
          <% else %>
              <a href="/ar<%= @path %>" title="العربية" class="right">العربية</a>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
